# Server Configuration
PORT=8085
ENV=development

# Database
DATABASE_URL=postgres://postgres:postgres@localhost:5432/mockhu_db?sslmode=disable

# OAuth Configuration
# Google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL=http://localhost:8085/v1/auth/oauth/google/callback

# Facebook
FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=
FACEBOOK_REDIRECT_URL=http://localhost:8085/v1/auth/oauth/facebook/callback

# Apple
APPLE_CLIENT_ID=
APPLE_TEAM_ID=
APPLE_KEY_ID=
APPLE_PRIVATE_KEY=
APPLE_REDIRECT_URL=http://localhost:8085/v1/auth/oauth/apple/callback
